div{
    display: flex;
    flex-direction: column;
    text-align: center;
}
p{
    font-size: 50px;
    color:blue;
}
h1{
    color: red;
}
img{
    border-radius: 10px;
    width: 250px;
    margin: 0 41%;

}